.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}


.baseCurrencyTextStyle {
    font-size: 1.2rem;
    font-weight: bold;
}



.conversionResultStyle {
    margin-top: 20px;
    font-size: 1.5rem;
}

@media screen and (max-width: 767px) {
    .conversionResultStyle {
        text-align: center;
    }
}
